$Lightpink: lighten(#e26380, 30%);
$Pink: #e26380;
$Darkpink: darken(#e26380, 40%);
$Font-Title: "Montserrat", sans-serif;
$Font-Text: "Open Sans", sans-serif;

body {
  background-color: $Lightpink;
  max-width: 1200px;
  margin: auto;
  font-family: $Font-Text;
}
